

.nav {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0px;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row-reverse;
   }

.animal {
  flex-basis: 20%;
}

.animaltwo{
    
   }

img {
    width: 50px;
}

ul {
    display: flex;
}

